<html lang="en">

<head>
  <title>Event Management System</title>

  <%- include('partials/heads_content') %>

  <!-- Footer CSS -->
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <!-- Other Content -->
  <link rel="stylesheet" type="text/css" href="/css/others.css">

</head>

<body>
  <%- include('partials/header') %>

  <% if(accountOption == 'resetPassword') {%>
  <div class="registered-event-main">
    <div class="forgot-password-main ">
      <div class="forgot-password-inner">
        <% if(typeof alert != 'undefined') { %>
        <% alert.forEach(function(error) { %>
        <div class="col-sm-12 alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong> <%= error.msg %> </strong>
        </div>
        <% }) %>
        <% } %>
        <% if(typeof err_msg != 'undefined') { %>
        <div class="col-sm-12 alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong> <%= err_msg %> </strong>
        </div>
        <%}%>
      <p>Reset Password</p>
      <form action="/user/resetPassword" method="POST">
        <label>Old Password</label>
        <input type="password" class="form-control" name="oldPassword" placeholder="Old Password"><br>
        <label>New Password</label>
        <input type="password" class="form-control" name="password" placeholder="New Password"><br>
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="confirmedPassword" placeholder="Confirm Password"><br>
        <input type="submit" value="Reset" class="form-control btn btn-primary">
      </form>
      </div>
    </div>
    </div> 

     <% } else if(accountOption == 'registeredEvents') { %>
      
        <% if(registeredEvents.length != 0) { %>
      <div class="registered-event-table">
        <table class="table table-hover">
          
          <thead>
            <tr>
              <th>Events</th>
              <th>Price</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < registeredEvents.length ; i++ ) { %>
            <tr>
              <td><%=registeredEvents[i].registeredEvent%></td>
              <td><%=registeredEvents[i].price%></td>
              <td><%=registeredEvents[i].eventDescription.replace(/\n/g,'<br>')%></td>
              <td><a href="/myaccount/registeredEvents/delete/<%=registeredEvents[i].id%>">Delete</a></td>
            </tr>
            <%}%>    
            <tr>
              <td><strong>Total Price</strong></td>
              <td><strong><%=eventsTotal%></strong></td>
              <td></td>
              <td></td>
            </tr>
              </tbody>
              
              </table>
            </div>
          <% } else { %>
             <div class="registered-event-main"> 
              <div class="no-content-text ">
                No Event Registered
              </div>
            </div> 
            
          
            <%}%>
        <% } else {%>
            <div class="no-content-text">
              Something went wrong
            </div>
            <%}%> 
     
    <%- include('partials/footer') %>

            <% if(error_message != '') {%>
            <script type="text/javascript">
              alert('<%-error_message%>')
            </script>
            <%}%>
  </body>
</html>