
<html lang="en">
  <head>
    <title>Event Management System</title>
    
    <%- include('partials/heads_content') %>

    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <!-- Other Content -->
    <link rel="stylesheet" type="text/css" href="/css/others.css">
    
  </head>
  <body>
    
     <%- include('partials/header') %>
    <div style="margin-bottom: 56px;"></div>
      <div class="registered-event-main">

        <% if(typeof registeredEvents != 'undefined') { %>
         <% if(registeredEvents.length != 0) { %>
         <h2 style="text-align: center; color: #333333; padding: 5px ;"> Registered Events</h2>
        <div class="registered-event-inner">
          <% for(var i = 0; i < registeredEvents.length ; i++ ) { %>
              <div class="event-style" data-toggle="modal" data-target="#eventinfo<%=i%>">
                <%=registeredEvents[i].registeredEvent%>
              </div>
              <div class="modal" id="eventinfo<%=i%>">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><%=registeredEvents[i].registeredEvent%></h5>
                      <button type="button" onclick="document.getElementById('eventinfo<%=i%>').style.display='none'" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Event:&nbsp;<%=registeredEvents[i].registeredEvent%></p>
                      <p>Description:&nbsp;<%=registeredEvents[i].eventDescription%></p>
                    </div>
                    <div class="modal-footer">
                      <a href="/myaccount/registeredEvents/delete/<%=registeredEvents[i].id%>" class="btn btn-primary btn-sm">unregister</a>
                    </div>
                  </div>
                </div>
              </div>
          <% } %>
          <% } else { %>
          <div class="no-content-text">
            No Event Registered
          </div>
        <%}%>
         </div>
        
      <%}%>
      </div>
    <%- include('partials/footer') %>
  </body>
</html>