
<html lang="en">
  <head>
    <title>Event Management System</title>
    
    <%- include('partials/heads_content') %>

    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <!-- Other Content -->
    <link rel="stylesheet" type="text/css" href="/css/others.css">
    
  </head>
  <body>
    <%- include('partials/header') %>

    <% if(accountOption == 'resetPassword') {%>
    <div class="registered-event-main">
      <div class="forgot-password-main ">
      <div class="forgot-password-inner">
        <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                <div class="col-sm-12 alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> <%= error.msg %> </strong>
                </div>
                <% }) %>
        <% } %>
        <% if(typeof err_msg != 'undefined') { %>
          <div class="col-sm-12 alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> <%= err_msg %> </strong>
                </div>
        <%}%>
      <p>Reset Password</p>
      <form action="/user/resetPassword" method="POST">
        <label>Old Password</label>
        <input type="password" class="form-control" name="oldPassword" placeholder="Old Password"><br>
        <label>New Password</label>
        <input type="password" class="form-control" name="password" placeholder="New Password"><br>
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="confirmedPassword" placeholder="Confirm Password"><br>
        <input type="submit" value="Reset" class="form-control btn btn-primary">
      </form>
      </div>
    </div>
    </div>

    <% } else if(accountOption == 'registeredEvents') { %>    

      <div class="registered-event-main">
        <% if(typeof registeredEvents != 'undefined') { %>
         <% if(registeredEvents.length != 0) { %>
         <h2 style="text-align: center; color: #333333; padding: 5px ;"> Registered Events</h2>
        <div class="registered-event-inner">
          <% for(var i = 0; i < registeredEvents.length ; i++ ) { %>
              <div class="event-style" data-toggle="modal" data-target="#eventinfo<%=i%>">
                <%=registeredEvents[i].registeredEvent%>
              </div>
              <div class="modal" id="eventinfo<%=i%>">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><%=registeredEvents[i].registeredEvent%></h5>
                      <button type="button" onclick="document.getElementById('eventinfo<%=i%>').style.display='none'" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Event:&nbsp;<%=registeredEvents[i].registeredEvent%></p>
                      <p>Description:&nbsp;<%=registeredEvents[i].eventDescription%></p>
                    </div>
                    <div class="modal-footer">
                      <a href="/myaccount/registeredEvents/delete/<%=registeredEvents[i].id%>" class="btn btn-primary btn-sm">unregister</a>
                    </div>
                  </div>
                </div>
              </div>
          <% } %>
          <% } else { %>
          <div class="no-content-text">
            No Event Registered
          </div>
        <%}%>
         </div>
        
      <%}%>
      </div>
    <%} else {%>
      <div class="no-content-text">
            Something went wrong
      </div>
    <%}%>  
    <%- include('partials/footer') %>
    
    <% if(error_message != '') {%>
    <script type="text/javascript">
      alert('<%-error_message%>')
    </script>
    <%}%>
  </body>
</html>