<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('partials/heads_content') %>

    <!-- Side Navbar -->
    <link rel="stylesheet" type="text/css" href="/css/sideNavbar.css" />

    <!-- main content -->
    <link rel="stylesheet" href="/css/others.css" />

    <!-- Event Css -->
    <link rel="stylesheet" href="/css/event.css" />
  </head>
  <body>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/admin?flag=user">User</a>
      <a href="/admin?flag=gallery">Gallery</a>
      <a href="/admin?flag=event">Event</a>
      <a href="/admin?flag=register">Registration</a>
    </div>

    <button class="openbtn" onclick="openNav()">☰ Admin Panel</button>

		<%if(flag == "gallery") 
		{%> <%- include('galleryAdmin') %> <%} 
		else if(flag == "event") 
		{%> <%- include('eventsAdmin') %> <%} 
		else if(flag == "register") 
		{%> <%- include('registrationAdmin') %> <%} 
		else 
		{%> <%-include('usersAdmin') %> <%}%> 
		<% if(error_message != '') { %>
    <script type="text/javascript">
      alert("<%-error_message%>");
    </script>
    <%}%>

    <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
      }
      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
      }
      var errorMessage = "<%- error_message %>";
			if (errorMessage !== "") {
        alert(errorMessage);
        location.reload();
      }
    </script>
  </body>
</html>
