<!DOCTYPE html>
<html>
  <head>
    <title>Event</title>
    <%- include('partials/heads_content') %>

    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />

    <!-- Event Css -->
    <link rel="stylesheet" href="/css/event.css">
  </head>
  <body>
    <%- include('partials/header') %>

    <table>
      <thead>
        <tr>
          <th>Event</th>
          <th>Discount</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        
          <form action="/event/register" method="POST">
          <% if(typeof indoorevents != 'undefined') { %>
            <% if(indoorevents.length != 0) { %>
              <% for(var i=0; i < indoorevents.length ; i++ ) { %>
                <tr>
                 <td><%=indoorevents[i].indoorEvent%></td>
                 <td><%=indoorevents[i].discountValue%>%</td>
                 <td><input type="checkbox" name="<%=indoorevents[i].id%>"></td>
                </tr>
                 
              <%}%>
            <%}%>
          <%}%>
          <% if(typeof outdoorevents != 'undefined') { %>
            <% if(outdoorevents.length != 0) { %>
              <% for(var i=0; i < outdoorevents.length ; i++ ) { %>
                <tr>
                  <td><%=outdoorevents[i].outdoorEvent%></td>
                  <td><%=outdoorevents[i].discountValue%>%</td>
                  <td><input type="checkbox" name="<%=outdoorevents[i].id%>"></td>
                </tr>
              <%}%>
            <%}%>
          <%}%>
          
            <tr><td><input type="submit" value="Register"></td></tr>
          </form>
          
        
      </tbody>
    </table>

    <%- include('partials/footer') %>

    <% if(error_message != '') { %>
    <script type="text/javascript">
        alert('<%-error_message%>')
    </script>
    <%}%>
  </body>
</html>
