<html>

<head>
  <title> Event Admin </title>

</head>

<body>

  <h1 style="text-align: center; color: #333333; padding: 5px ;">Admin Events</h1>
  
  <!-- ---------------------   Add Event Model ------------------------->

  <div class="modal" id="addIndoorEvent">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Indoor Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin/indoorevent/add" method="post">
            <div class="form-fields">
               <input type="text" name="indoorEvent" placeholder="add Indoor event" class="form-control" required>
            </div>
            <div class="form-fields">
               <input type="text" name="price" placeholder="price" class="form-control" >
            </div>
            <div class="form-fields form-fields-day">
               <input type="text" name="day" placeholder="Day" class="form-control" maxlength="2" min="1" max="31" size="3" badinput="false"  >
            </div>
            <div class="form-fields form-fields-month">
               <select name="month" class="form-control" >
                  <option value="" disabled selected>Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
            </div>
            <div class="form-fields form-fields-year">
               <input type="text" name="year" placeholder="Year" maxlength="4" size="5" class="form-control" >
            </div><br><br>
            <div class="form-fields"> 
               <input type="text" name="discountValue" placeholder="Discount e.g- 10,5,20" class="form-control" required>
            </div>
            <div class="form-fields">
               <textarea class="form-control" name="description" placeholder="Add Description"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal" id="addOutdoorEvent">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Outdoor Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin/outdoorevent/add" method="post">
            <div class="form-fields">
               <input type="text" name="outdoorEvent" placeholder="add outdoor event" class="form-control">
            </div>
            <div class="form-fields">
               <input type="text" name="price" placeholder="price" class="form-control" required>
            </div>
            <div class="form-fields form-fields-day">
               <input type="text" name="day" placeholder="Day" class="form-control" maxlength="2" size="3" badinput="false" required >
            </div>
            <div class="form-fields form-fields-month">
               <select name="month" class="form-control" >
                  <option value="" disabled selected>Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
            </div>
            <div class="form-fields form-fields-year">
               <input type="text" name="year" placeholder="Year" maxlength="4" size="5" class="form-control" required>
            </div><br><br>
            <div class="form-fields"> 
               <input type="text" name="discountValue" placeholder="Discount e.g- 10,5,20" class="form-control" required>
            </div>
            <div class="form-fields">
               <textarea class="form-control" name="description" placeholder="Add Description"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-------------------------- discount/Discount ------------------------------>
  
   <div class="discountFlag">
      <select name="discount" class="form-control discountFont" id="discount" onchange="window.location.href=this.value">
         <option value="/admin/discount?discount=set">Set Discount</option>
         <option value="/admin/discount?discount=unset">Unset Discount</option>
      </select>
   </div>
   
  <!----------------------------------- Event Lists ------------------------------------------->
      <div class="container-fluid my-2" style="min-height: 70vh; ">
         <div class="col-sm-12 col-lg-4 event-option" style="float: right;">
            <div class="list-group " id="list-tab" role="tablist" style="margin-bottom: 10px;">
               <a class="list-group-item list-group-item-action active" id="list-indoor-list" data-toggle="list"
                  href="#list-indoor" role="tab" aria-controls="indoor">Indoor Games</a>
               <a class="list-group-item list-group-item-action" id="list-outdoor-list" data-toggle="list" href="#list-outdoor"
                  role="tab" aria-controls="outdoor">Outdoor Games</a>
            </div>
            <div class="list-group " role="tablist" style="margin-bottom: 10px;">
               <a class="list-group-item list-group-item-action " id="indoor" data-toggle="modal" data-target="#addIndoorEvent"
                  href="">Add Indoor Event</a>
               <a class="list-group-item list-group-item-action" id="outdoor" data-toggle="modal"
                  data-target="#addOutdoorEvent" href="">Add Outdoor Event</a>
            </div>
         </div>
         <div class="col-sm-12 col-lg-8 scroll">
            <div class="tab-content" id="nav-tabContent">
               <div class="tab-pane fade show active" id="list-indoor" role="tabpanel" aria-labelledby="list-indoor-list">
                  <% if(typeof indoorevents != 'undefined') { %>
                  <% if(indoorevents.length != 0) { %>
                  <div class="accordion" id="accordionIndoor">
                     <div class="card">
                        <% for(var i=0; i < indoorevents.length ; i++ ) { %>
                        <div class="card-header" id="heading<%=i%>Indoor">
                           <h2 class="mb-0">
                              <button class="btn btn-block btn-outline-primary text-left" type="button" data-toggle="collapse"
                                 data-target="#collapse<%=i%>Indoor" aria-expanded="true" aria-controls="collapse<%=i%>Indoor">
                              <%=indoorevents[i].indoorEvent%>
                              </button>
                           </h2>
                        </div>
                        <div id="collapse<%=i%>Indoor" class="collapse " aria-labelledby="heading<%=i%>Indoor"
                           data-parent="#accordionIndoor">
                           <div class="card-body">
                              <p><strong>Price: </strong><%=indoorevents[i].price%></p>
                              <p><strong>Discount:</strong> <%=indoorevents[i].discountValue%>%</p>
                              <p><strong>Date:</strong> <%=indoorevents[i].date.toDateString()%></p>
                              <p><strong>Description: </strong><%-indoorevents[i].description.replace(/\n/g,'<br>')%></p>
                              <a class="btn-eventregister btn" href="/admin/indooreventDelete/<%=indoorevents[i].id%>">Delete</a>
                           </div>
                        </div>
                        <%}%>
                     </div>
                  </div>
                  <%} else {%>
                  <p> No Indoor Games </p>
                  <%}%>
                  <%}%>
               </div>
               <div class="tab-pane fade" id="list-outdoor" role="tabpanel" aria-labelledby="list-outdoor-list">
                  <% if(typeof outdoorevents != 'undefined') { %>
                  <% if(outdoorevents.length != 0) { %>
                  <div class="accordion" id="accordionOutdoor">
                     <div class="card">
                        <% for(var i=0; i < outdoorevents.length ; i++ ) { %>
                        <div class="card-header" id="headingOneOutdoor">
                           <h2 class="mb-0">
                              <button class="btn btn-block btn-outline-primary text-left" type="button" data-toggle="collapse"
                                 data-target="#collapse<%=i%>Outdoor" aria-expanded="true" aria-controls="collapse<%=i%>Outdoor">
                              <%=outdoorevents[i].outdoorEvent%>
                              </button>
                           </h2>
                        </div>
                        <div id="collapse<%=i%>Outdoor" class="collapse " aria-labelledby="headingOneOutdoor"
                           data-parent="#accordionOutdoor">
                           <div class="card-body">
                              <p><strong>Price:</strong> <%=outdoorevents[i].price%></p>
                              <p><strong>Discount:</strong> <%=outdoorevents[i].discountValue%>%</p>
                              <p><strong>Date:</strong> <%=outdoorevents[i].date.toDateString()%></p>
                              <p><strong>Description: </strong><%-outdoorevents[i].description.replace(/\n/g,'<br>')%></p>
                              <a class="btn-eventregister btn"
                                 href="/admin/outdooreventDelete/<%=outdoorevents[i].id%>">Delete</a>
                           </div>
                        </div>
                        <%}%>
                     </div>
                  </div>
                  <%} else {%>
                  <p> No Outdoor Games </p>
               </div>
               <%}%>
               <%}%>
            </div>
          </div>

        </div>


        <script type="text/javascript">
          var indoor1 = document.getElementById('list-indoor')
          var indoorOption = $('#list-indoor-list')
          var outdoorOption = $('#list-outdoor-list')
          var indoorList = $('#list-indoor')
          var outdoorList = $('#list-outdoor')


          if (' <%-optionFlag%>' === 'indoor') {
            indoorOption.addClass("active")
            indoorOption.addClass("show")
            indoorList.addClass("active")
            indoorList.addClass("show")
            outdoorOption.removeClass("active")
            outdoorOption.removeClass("show")
            outdoorList.removeClass("active")
            outdoorList.removeClass("show")
          } else if ('<%-optionFlag%>' === 'outdoor') {
            outdoorOption.addClass("active")
            outdoorOption.addClass("show")
            outdoorList.addClass("active")
            outdoorList.addClass("show")
            indoorOption.removeClass("active")
            indoorOption.removeClass("show")
            indoorList.removeClass("active")
            indoorList.removeClass("show")
          }

          function setOrUnsetDiscount(discountValue) {
             console.log(discountValue)
            if(discountValue === true) {
               $('#discount').val('/admin/discount?discount=set')
            }else {
               $('#discount').val('/admin/discount?discount=unset')
            }
          }
          setOrUnsetDiscount(<%-discount%>)

        </script>





</body>

</html>
