<div class="container-fluid mb-4 mt-2">
  <div class="row">
    <%if(typeof gallery != 'undefined') {%> <% for(var i=0;i <
    gallery.length;i++) { %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-2">
      <img
        src=""
        style="width: 100%; height: 195px"
        onclick="openModal();currentSlide(<%=i+1%>)"
        class="hover-shadow cursor"
        id="<%=i%>"
      />
    </div>
    <%}%> <%}%>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    <%if(typeof gallery != 'undefined') {%> <% for(var i=0;i <
    gallery.length;i++) { %>
    <div class="mySlides">
      <div class="numbertext"><%=i+1%> / <%=gallery.length%></div>
      <img src="" id="a<%=i%>" style="width: 100%" />
    </div>
    <%}%> <%}%>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>
  </div>
</div>

<script>
  //Dynamic gallery functions #####
  $(document).ready(function () {
    function toBase64(arr) {
      //arr = new Uint8Array(arr) if it's an ArrayBuffer
      return btoa(
        arr.reduce((data, byte) => data + String.fromCharCode(byte), "")
      );
    }
    const galleryapifunction = async function () {
      const response = await fetch("http://127.0.0.1:3000/admin/gallery/api", {
        headers: {
          "Content-Type": "application/json",
        },
      });

      const myData = await response.json();

      for (let i = 0; i < myData["gallery"].length; i++) {
        var x = document.getElementById(i);
        var y = document.getElementById("a" + i);
        x.src =
          "data:image/jpeg;base64," + toBase64(myData["gallery"][i].photo.data);
        y.src =
          "data:image/jpeg;base64," + toBase64(myData["gallery"][i].photo.data);
      }
    };
    galleryapifunction();
  });

  //LightBox functions ###########################

  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex - 1].style.display = "block";
  }
</script>
