<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%- include('partials/heads_content') %>

    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />

    

    <!-- other Css -->
    <link rel="stylesheet" type="text/css" href="/css/others.css">
    <!-- Scripts -->
    <script type="text/javascript" src='/js/sendPin.js'></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <div style="margin-bottom: 56px;"></div>

<% if(typeof sendOption != 'undefined') { %>
    <% if(sendOption == 'email') { %>
    <div class="forgot-password-main ">
      <div class="forgot-password-inner">
      <p>Forgot Password</p>
      <form action="/user/forgotPassword" method="POST">
        <label>Enter your register email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter Email"><br>
        <input type="submit" value="Send Email" class="form-control btn btn-primary">
      </form>
      </div>
    </div>
    <%} else if(sendOption == 'pin') { %>
    <div class="forgot-password-main ">
      <div class="forgot-password-inner">
      <p>Verify Pin</p>
      <form action="/user/forgotPassword/verifyPin" method="POST">
        <label>Enter Pin</label>
        <input type="text" class="form-control" name="pin" placeholder="Enter Pin"><br>
        <input type="submit" value="Send Pin" class="form-control btn btn-primary">
      </form>
      </div>
    </div>
    <% } else if(sendOption == 'setPassword') { %>
      <div class="forgot-password-main ">
      <div class="forgot-password-inner">
        <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                <div class="col-sm-12 alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> <%= error.msg %> </strong>
                </div>
                <% }) %>
        <% } %>
        <% if(typeof err_msg != 'undefined') { %>
          <div class="col-sm-12 alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> <%= err_msg %> </strong>
                </div>
        <%}%>
      <p>Reset Password</p>
      <form action="/user/forgotPassword/setPassword" method="POST">
        <label>New Password</label>
        <input type="password" class="form-control" name="password" placeholder="New Password"><br>
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="confirmedPassword" placeholder="Confirm Password"><br>
        <input type="submit" value="Send Pin" class="form-control btn btn-primary">
      </form>
      </div>
    </div>
    <%} else {%>
    <div class="forgot-password-main ">
      <h1 class="no-content-text">Something went Wrong</h1>
    </div> 
    <%}%>
   <%} else {%>
    <div class="forgot-password-main ">
      <h1 class="no-content-text">Something went Wrong</h1>
    </div> 
    <%}%>


    <%- include('partials/footer') %>

    <% if(error_message != '') {%>
    <script type="text/javascript">
      alert('<%-error_message%>')
    </script>
    <%}%>
  </body>
</html>
