<html lang="en">
  <head>
    <title>Gallery</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/gallery.css" />

    <link rel="stylesheet" href="/css/footer.css" />

    <link rel="stylesheet" href="/css/lightbox.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <!-- Gallery head description starts -->
    <div class="container mt-3">
      <div class="row mt-4 mt-xs-10">
        <div class="col-md-12 text-center">
          <h3 class="gallery_head">Atharva Events <b>Highlights</b></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-2 text-center mt-20 mt-xs-10">
          <p class="gallery_paragraph">
            Here's a glimpse at some of the Major Highlights of Atharva Events!
          </p>
        </div>
      </div>
    </div>
    <!-- Gallery head description ends -->

    <div class="row">
      <%if(typeof gallery != 'undefined') {%> 
        <% for(var i=0;i < gallery.length;i++) { %>
        <div class="col-xs-12 col-md-4 col-lg-3">
          <img
            src=""
            style="width:100%; height: 100%"
            onclick="openModal();currentSlide(<%=i+1%>)"
            class="hover-shadow cursor"
            id="<%=i%>"
          />
        </div>
        <%}%>
      <%}%>
    </div>
    <%- include('partials/footer') %>

    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">&times;</span>
      <div class="modal-content">
      <%if(typeof gallery != 'undefined') {%> 
        <% for(var i=0;i < gallery.length;i++) { %>
        <div class="mySlides">
          <div class="numbertext"><%=i+1%> / <%=gallery.length%></div>
          <img src="" id="a<%=i%>" style="width: 100%" />
        </div>
        <%}%>
      <%}%>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
          <p id="caption"></p>
        </div>
    </div>


    <script>

      //Dynamic gallery functions #####

      $(document).ready(function () {
    function toBase64(arr) {
       //arr = new Uint8Array(arr) if it's an ArrayBuffer
       return btoa(
          arr.reduce((data, byte) => data + String.fromCharCode(byte), '')
       );
    }
    const galleryapifunction= async function(){

    const response = await fetch('http://127.0.0.1:3000/admin/gallery/api',{headers: {
                  'Content-Type': 'application/json'
                }})

    const myData = await response.json()
    

    for(let i=0; i<myData['gallery'].length; i++) {
      
        var x = document.getElementById(i)
        var y = document.getElementById("a"+i)
        // x.setAttribute("width", "354");
        // x.setAttribute("height", "228");
        
      x.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][i].photo.data)
      y.src = 'data:image/jpeg;base64,' + toBase64(myData['gallery'][i].photo.data)
      // x.style.padding = "5px 3px";
    }

    }
    galleryapifunction()

  })


      //LightBox functions ###########################

      function openModal() {
        document.getElementById("myModal").style.display = "block";
      }

      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }

      var slideIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        // var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        // for (i = 0; i < dots.length; i++) {
        //   dots[i].className = dots[i].className.replace(" active", "");
        // }
        slides[slideIndex - 1].style.display = "block";
        // dots[slideIndex - 1].className += " active";
        // captionText.innerHTML = dots[slideIndex - 1].alt;
      }
    </script>


  </body>
</html>
