<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <%- include('partials/heads_content') %>

  <!-- Footer CSS -->
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <link rel="stylesheet" href="/css/signup_login.css">

</head>

<body>
  <%- include('partials/header') %>
  <div style="margin-bottom: 72px;"></div>

  <div style="margin-top: 80px; margin-bottom: 60px">
    <div class="row" style="margin: 0; padding: 0">
      <div class="col-sm-12">
        <div class="z-depth-2 form-div">
          <div class="col-sm-12">
            <h3 class="text-center p-3">Login Here</h3>
          </div>
          <form action="/login" method="POST">
            <div class="row">
              <% if (success_message != ''){ %>
              <div class="col-sm-12 alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">
                  &times;
                </button>
                <strong> <%= success_message %> </strong>
              </div>
              <% } %> <% if( error != '') { %>
              <div class="col-sm-12 alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                  &times;
                </button>
                <strong><%= error %></strong>
              </div>
              <% } %>
              <div class="col-sm-12 form-group">
                <label for="username">Enter Your Email</label>
                <input type="email" class="form-control" name="email" id="username" autocomplete="off"
                  placeholder="Email" />
              </div>
              <div class="col-sm-12 form-group">
                <label for="password">Enter Your Password</label>
                <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                  placeholder="Password" />
              </div>
              <div class="col-sm-12 form-group">
                <input type="submit" class="btn btn-block btn-outline-primary" value="Login" />
              </div>
              <div class="col-sm-12">
                <p>forgot password ? <a class="card-link" href="/user/forgotPassword">click here</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <% if(error_message != '') {%>
    <script type="text/javascript">
      swal({
        title: '<%-error_message%>',
        icon: "warning",
        confirmButtonText: "Submit",
        buttons: {
          cancel: true,
          confirm: "Confirm",
        },
        dangerMode: true,
      })
    </script>
  <%}%>


    <%- include('partials/footer') %>
</body>

</html>