<% if(typeof userData != 'undefined') {%>
  <% if(userData.length != 0) { %> 
<h1 style="text-align: center; color: #333333; padding: 5px ;">Registered Accounts</h1>
<table class="table table-hover table-css" style="width: 100%;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Admin Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <%userData.forEach(function(user){%>
  <tbody >
    <%if(user.isAdmin) {%>
    <tr class="table-primary">
      <td scope="row"><%=user.name%></td>
      <td><%=user.email%></td>
      <td><%=user.isAdmin%></td>
      <td><a href="/admin/deleteuser/<%=user.id%>" class="btn btn-danger btn-sm">delete</a></td>
      <td><a href="/admin/edituser/<%=user.id%>" class="btn btn-primary btn-sm">edit</a></td>
    </tr>
    <%} else {%>
    <tr>
      <td scope="row"><%=user.name%></td>
      <td><%=user.email%></td>
      <td><%=user.isAdmin%></td>
      <td><a href="/admin/deleteuser/<%=user.id%>" class="btn btn-danger btn-sm">delete</a></td>
      <td><a href="/admin/edituser/<%=user.id%>" class="btn btn-primary btn-sm">edit</a></td>
    </tr>
    <%}%>
  </tbody>
  <%})%>
</table>
<% } else {%>
  <p class="no-content-text">No Users</p>
<%}%>
<%}%>
